*{
    margin:0;
    padding:0;    
}
$Poppins:'Poppins', sans-serif;
$Raleway:'Raleway', sans-serif;
$bg_color:#0f1630;
$light_color:#4f556b;
$white_color:#fff;

body{
    width:100%;  
}
.dflex{
    display:flex;
    justify-content: center;
    align-items:center;
}

.container{
    display:flex;
    width:100%;
    height:100vh;
    position:relative;
    background-color: $bg_color;
    overflow:hidden;
    flex-direction: column;
    font-family: $Poppins;
}//container

header{
    height:80px;
    @extend .dflex;
    width:100%;
    padding:0 50px;
    box-sizing: border-box;
    justify-content: space-between;
    color:#fff;
    border-bottom:1px solid rgba($white_color,.05);
    .logo{
        font-size:25px;
    }
    .cart{
        width:30px;
        height:30px;
        @extend .dflex;
        color:#fff;
        background-color: #2d4a90;
        cursor:pointer;
        .fa{
            font-size:10px;
        }
    }
}//header

.circle_wrapper{
    display: block;
    position:absolute;
    left:0;
    bottom:0;
    background-color:$bg_color;
    width:50%;
    z-index: 2;
    height:calc(100% - 80px);
}//circle_wrapper

.half_circle{
    width:35vw;
    height:35vw;
    background:linear-gradient(to bottom, #0c132d, #212237, #9e6d68);
    border-radius: 100%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:1;
    @extend .dflex;
    @media(max-width:1368px){
        top:55%;
        width:32vw;
        height:32vw;
    }
    span{
        width:8px;
        height:8px;
        background-color:#fff;
        position:absolute;
        right:0;
        border-radius: 8px;
        &:nth-child(1){
            top:30%;
            right:5vw;
        }
        &:nth-child(2){
            top:40%;
            right:3.5vw;
        }
        &:nth-child(3){
            top:50%;
            right:3vw;
            &:after{
                content:"";
                position:absolute;
                width:14px;
                height:14px;
                border-color:#fff;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                border:1px solid #fff;
                border-radius: 14px;
            }
        }
        &:nth-child(4){
            top:60%;
            right:3.5vw;
        }
        &:nth-child(5){
            top:70%;
            right:5vw;
        }
    }//span
}//half_circle

.line_wrapper{
    display:flex;
    width:100%;
    height:calc(100% - 80px);
    justify-content: space-evenly;
    position:absolute;
    left:0;
    bottom:0;
    z-index:5;
    .line_{
        border-right:1px solid rgba($white_color,.05);
        position:relative;
        &:before{
            content:"";
            position:absolute;
            top:-50px;
            left:50%;
            transform:translateX(-50%);
            color:rgba($white_color,.1);
        }
        &:nth-child(1):before{
            content:"D";
        }
        &:nth-child(2):before{
            content:"E";
        }
        &:nth-child(3):before{
            content:"F";
        }
        &:nth-child(4):before{
            content:"";
        }
        &:nth-child(5):before{
            content:"A";
        }
        &:nth-child(6):before{
            content:"B";
        }
        &:nth-child(7):before{
            content:"C";
        }
    }
}//line_wrapper

.hero{
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    z-index:10;
    img{
        width:15vw;
        display:block;
    }
}//hero

.contant_{
    position:relative;
    z-index:15;
    color:rgba($white_color,.5);
    width:100%;
    height:calc(100% - 80px);
    padding:0 50px 5.5vw 10vw;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .left_content{
        width:50%;
        color:$white_color;
        position:relative;
        height:100%;
        @extend .dflex;
        flex-direction: column;
        align-items: flex-start;
        h2{
            text-transform: uppercase;
            color:rgba($white_color,.03);
            font-size:10vw;
            position:absolute;
            left:0;
            top:0;
        }
        h1{
            font-size:5vw;
            span{
                display:block;
                margin-top:.5vw;
            }
        }
        ul{
            @extend .dflex;
            list-style: none;
            justify-content: space-between;
            font-size:12px;
            width:60%;
            position:absolute;
            left:0;
            bottom:0;
            li{
                color:rgba($white_color,.5);
                cursor:pointer;
                &.active{
                    color:$white_color;
                }
            }
        }//ul
        .price{
            font-size:2vw;
            margin:2vw 0;
        }
        .cta{
            width:150px;
            height:40px;
            border:1px solid #9e6d68;
            border-radius: 40px;
            @extend .dflex;
            font-size:12px;
            text-transform: uppercase;
            cursor:pointer;
        }
    }//left_content

    .right_content{
        width:24.5%;
        display:flex;
        justify-content:space-between;
        position:relative;
        height:100%;
        h2{
            text-transform: uppercase;
            color:rgba($white_color,.03);
            font-size:10vw;
            position: absolute;
            left:-100%;
            bottom:0;
        }
        .abs_img{
            position:absolute;
            right:-4vw;
            bottom:0;
            height:10vw;
            z-index:-1;
        }
        .item_{
            &.video{
                width:58%;
                padding-left:8px;
                padding-top:6vw;
                box-sizing: border-box;
                position:relative;
                .pulse_circle{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    .circle_{
                        width:40px;
                        height:40px;
                        @extend .dflex;
                        background-color:#9e6d68;
                        border-radius:40px;
                        font-size:12px;
                        color:$white_color;
                        position:relative;                        
                        cursor:pointer;
                        margin-right: 20px;
                        &:after{
                            content:"";
                            width:60px;
                            height:60px;
                            background-color:rgba($white_color,.1);
                            border-radius:60px;
                            position:absolute;
                            left:50%;
                            top:50%;
                            transform:translate(-50%, -50%);
                            z-index:-1;
                        }
                    }
                    p{
                        font-size: 12px;
                        color:$white_color;
                    }
                }
                .text{
                    font-size:12px;
                    color:rgba($white_color,.5);
                    position:absolute;
                    top:60%;
                    left:50%;
                    transform: translate(-50%,-50%) rotate(-90deg);
                    width:150%;
                    line-height: 1.5;
                }
                .scrollDown{
                    position:absolute;
                    bottom:-5%;
                    left:50%;
                    transform: translateX(-50%);
                    width:20px;
                    height:45px;
                    border:1px solid rgba($white_color,.5);
                    border-radius: 25px;
                    cursor:pointer;
                    span{
                        width:10px;
                        height:2px;
                        background-color:rgba($white_color,.5);
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%) rotate(-90deg);
                        animation: bounce 2s infinite;
                    }
                }
            }  //video  
            &.social{
                width:42%;
                height:100%;
                position: relative;
                .social_media{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    height:50%;
                    top:15%;
                    right:-12px;
                    position:absolute;
                    a{
                        display:flex;
                        transform: rotate(-90deg);
                        font-size:8px;
                        text-decoration: none;
                        color:rgba($white_color,.5);
                        text-transform: uppercase;
                    }
                }
            }
        }//item_
    }//right_content
}//contant_


@keyframes bounce{
    0%,20%,50%,80%,100%{
        transform:translate(-50%, -50%) rotate(-90deg);
    }
    40%{
        transform:translate(-50%, 10px) rotate(-90deg);
    }
    60%{
        transform:translate(-50%, 10px) rotate(-90deg);
    }
}